.nav-wrapper {
	padding-left: 20px;
}

.label-icon {
	/*padding-top: -15px;*/
	/*padding-bottom: 20px;*/
}

.input-field {
	/*padding-bottom: 20px;*/
	/*padding-top: -15px;*/
}

.page-footer {
	background-color: #EE6E73; 
}

.footer-copyright {
	background-color: #EE6E73; 
	
}